/* Dumb Html and body styling */

html
{
    width: 100%;
    height: 100%;
}
body
{
    outline: 1px solid white;
    outline-offset: -1px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(64, 64, 64);
    color: white;
    overflow: auto;
}
#Main
{
    width: 100%;
    height: 100%;
    outline: 1px solid white;
    outline-offset: -1px;
    margin: 0px;

}
#Main> button 
{
    color: white;
    background-color: black;
    width: 150px;
    height: 30px;
    margin: 20px;
    text-transform: capitalize;
}
#Main > button:hover
{
  opacity: 0.70;
}

#UpgradeToolTip
{
    outline: 1px solid white;
    outline-offset: -1px;
    background-color: gray;
    display: none;
    position: absolute;
    width: 200px;
    height: max-content;
    padding: 5px;
    left: 180px;
    top: 20px;
    
}
#Main > button:hover #UpgradeToolTip
{
    display: block;
}
