/* Dumb Html and body styling */

html
{
    width: 100%;
    height: 100%;
}
body
{
    outline: 1px solid white;
    outline-offset: -1px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    overflow: auto;
}
#Main
{
    width: 100%;
    height: 100%;
    outline: 1px solid white;
    outline-offset: -1px;
    margin: 0px;

}
#Main> button 
{
    color: white;
    background-color: grey;
    width: 150px;
    height: 30px;
    margin: 20px;
    text-transform: capitalize;
}
#Main > button > div
{
    outline: 1px solid white;
    outline-offset: -1px;
    background-color: gray;
    display: none;
    position: absolute;
    width: max-content;
    height: max-content;
}
#Main > button:hover + #main > button > div
{
    display: block;
}