html
{
    width: 100%;
    height: 100%;
    
}
body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #1a1a1a;
    
}
#Main 
{
    position:  absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: white 1px solid;
    padding: 100px;
}
.Card
{
    background-image: url("Swordbg.png");
    background-size: 100% 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.6%;
    height: 16.6%;
    border: blue 1px solid;
    box-sizing: border-box;
    float: left;
 
}
.Cardp
{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
